@{
    ViewBag.Title = "GaSummary";
    Layout = "~/Views/Shared/_FEAContentLayout.cshtml";
}

@Html.DevExpress().GetStyleSheets(
    new StyleSheet{ExtensionSuite = ExtensionSuite.Editors},
    new StyleSheet{ExtensionSuite = ExtensionSuite.PivotGrid})

@Html.DevExpress().GetScripts(
    new Script{ExtensionSuite = ExtensionSuite.Editors},
    new Script{ExtensionSuite = ExtensionSuite.PivotGrid})
@using (Html.BeginForm())
{
    <div class="panel-body">
        <div class="row buttonbar">
            <div class="col-lg-7">
                @Html.DevExpress().Button(
                        settings =>
                        {
                            settings.Name = "btnQuery";
                            settings.Width = 90;
                            settings.Text = @Resources.Resource.Query;
                            settings.UseSubmitBehavior = true;

                        }).GetHtml()

                @Html.DevExpress().Button(
                        settings =>
                        {
                            settings.Name = "btnExport";
                            settings.Width = 90;
                            settings.RouteValues = new { Action = "ExportToExcel", Controller = "GA" };
                            settings.Text = @Resources.Resource.Export;
                            settings.UseSubmitBehavior = true;

                        }).GetHtml()
            </div>

        </div>
        <br />


        <div class="row">
            <div class="col-md-1">
                <label class="control-label">
                    @Resources.Resource.FromDate:
                </label>
            </div>
            <div class="col-md-3">
                @Html.DevExpress().DateEdit(
                        settings =>
                        {
                            settings.Name = "dtBeginDate";
                            settings.Date = ViewBag.BeginDate;
                            settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                            settings.Properties.EditFormat = EditFormat.Custom;
                            settings.Properties.EditFormatString = FEA_Ultil.FEAStringClass.DataDateFormat(FEA_ITS_Site.Helper.SessionManager.CurrentLang, false, false);
                        }
                    ).GetHtml()
            </div>
            <div class="col-md-1">
                <label class="control-label">
                    @Resources.Resource.ToDate:
                </label>
            </div>
            <div class="col-md-3">
                @Html.DevExpress().DateEdit(
                        settings =>
                        {
                            settings.Name = "dtEndDate";
                            settings.Date = ViewBag.EndDate;
                            settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                            settings.Properties.EditFormat = EditFormat.Custom;
                            settings.Properties.EditFormatString = FEA_Ultil.FEAStringClass.DataDateFormat(FEA_ITS_Site.Helper.SessionManager.CurrentLang, false, false);
                        }
                    ).GetHtml()
            </div>
        </div>
        <hr />
        <h4 class="group-title"><i class="icon-edit-sign teal"></i> Văn phòng phẩm</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    @Html.Action("PivotGrid1Partial", "GA", new { Type = 1, BeginDate = ViewBag.BeginDate, EndDate = ViewBag.EndDate })
                </div>
            </div>
        </div>
        <h4 class="group-title"><i class="icon-edit-sign teal"></i> Vật tư khác </h4>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    @Html.Action("PivotGrid1Partial", "GA", new {Type=2, BeginDate = ViewBag.BeginDate, EndDate = ViewBag.EndDate })
                </div>
            </div>
        </div>
    </div>
}
