@{
    ViewBag.Title = "ExportManagement";
    Layout = "~/Views/Shared/_FEAContentLayout.cshtml";
}
@model Object
@using FEA_ITS_Site.Helper;
@using FEA_ITS_Site;

@Html.DevExpress().GetStyleSheets(
    new StyleSheet{ExtensionSuite = ExtensionSuite.Editors},
    new StyleSheet{ExtensionSuite = ExtensionSuite.GridView})

@Html.DevExpress().GetScripts(
    new Script{ExtensionSuite = ExtensionSuite.Editors},
    new Script{ExtensionSuite=ExtensionSuite.GridView})

@using (Html.BeginForm("ExportManagement", "WarehouseAreaExport", FormMethod.Post))
{
<div class="panel-body">
    <form id="frmMainForm">
        <!-- title-->
        <h4><i class="icon-edit-sign teal"></i>Export Management</h4>
        <!-- End title-->
        <div class="row buttonbar">
            <div class="col-lg-7">
                @Html.DevExpress().Button(
                        settings =>
                        {
                            settings.Name = "btnQuery";
                            settings.Width = 90;
                            settings.Text = @Resources.Resource.Query;
                            settings.UseSubmitBehavior = true;

                        }).GetHtml()

                @Html.DevExpress().Button(
                        settings =>
                        {
                            settings.Name = "btnExport";
                            settings.Width = 90; 
                            settings.Text = @Resources.Resource.Export;
                            settings.UseSubmitBehavior = true;
                        }).GetHtml()
                @{
                    if (ViewBag.Message != null)
                    {
                        <div id="paginator-content-1" class="alert-small alert-danger" style="margin-top:10px;">
                            @Html.Raw((string)ViewBag.Message)
                        </div>
                    }
                }
            </div>


        </div>
        <br />

        <div class="row">
            <div class="col-md-2">
                <label class="control-label">
                    From:
                </label>
            </div>
            <div class="col-md-4">
                @Html.DevExpress().DateEdit(
                        settings =>
                        {
                            settings.Name = "date";
                            settings.Date = new DateTime();
                            settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                            settings.ControlStyle.CssClass = "textBoxStyle";
                            settings.Properties.EditFormat = EditFormat.Custom;
                            settings.Properties.EditFormatString = "yyyy-MM-dd";
                            settings.Date = Convert.ToDateTime(ViewBag.DateFrom) == null ? "" : Convert.ToDateTime(ViewBag.DateFrom);
                        }
                    ).GetHtml()
            </div>
            <div class="col-md-2">
                <label class="control-label">
                    To:
                </label>
            </div>
            <div class="col-md-4">
                @Html.DevExpress().DateEdit(
                        settings =>
                        {
                            settings.Name = "date2";
                            //settings.Properties.DisplayFormatString = "D";
                            settings.Date = new DateTime();
                            settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                            settings.ControlStyle.CssClass = "textBoxStyle";
                            settings.Properties.EditFormat = EditFormat.Custom;
                            settings.Properties.EditFormatString = "yyyy-MM-dd";
                            settings.Date = Convert.ToDateTime(ViewBag.DateTo) == null ? "" : Convert.ToDateTime(ViewBag.DateTo);
                        }
                    ).GetHtml()
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="vertComponentContainer">
                      @{Html.RenderAction("EditImportModesPartial", "WarehouseAreaExport", new {DateTo = ViewBag.DateTo == null ? "" : ViewBag.DateTo, DateFrom = ViewBag.DateFrom == null ? "" : ViewBag.DateFrom});}
                     @*@{Html.RenderAction("GetGridView", "Base", new { frm = Model, GridName = FEA_ITS_Site.Models.Helper.PartialParameter.WHExport_list_grid });}*@
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>
}