@{
    ViewBag.Title = "QueryDynamicInventory";
    Layout = "~/Views/Shared/_FEAContentLayout.cshtml";
}
@model Object
@using FEA_ITS_Site.Helper;
@using FEA_ITS_Site;

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>

@Html.DevExpress().GetStyleSheets(
    new StyleSheet{ExtensionSuite = ExtensionSuite.Editors},
    new StyleSheet{ExtensionSuite = ExtensionSuite.GridView})

@Html.DevExpress().GetScripts(
    new Script{ExtensionSuite = ExtensionSuite.Editors},
    new Script{ExtensionSuite = ExtensionSuite.GridView})

@using (Html.BeginForm("QueryDynamicInventory", "ITInventory", FormMethod.Post))
{      
    <div class="panel-body">
        <form id="frmMainForm">
           <h4><i class="icon-edit-sign teal"></i> Query Dynamic Inventory</h4>
            <div class="row buttonbar">
                <div class="col-lg-7">
                    @Html.DevExpress().Button(
                        settings =>
                        {
                            settings.Name = "btnQuery";
                            settings.Width = 90;
                            settings.Text = @Resources.Resource.Query;
                            settings.UseSubmitBehavior = true;

                        }).GetHtml()

                    @Html.DevExpress().Button(
                        settings =>
                        {
                            settings.Name = "btnExport";
                            settings.Width = 90;
                           // settings.RouteValues = new { Action = "ExportMethod", Controller = "ITInventory", DateTo = ViewData["DateTo"], DateFrom = ViewData["DateFrom"] };
                            settings.Text = @Resources.Resource.Export;
                            settings.UseSubmitBehavior = true;
                        }).GetHtml()
                    @{
                        if (ViewBag.Message != null)
                        {
                                    <div id="paginator-content-1" class="alert-small alert-danger" style="margin-top:10px;">
                                        @Html.Raw((string)ViewBag.Message)
                                    </div>
                        }
                    }
                </div>


            </div>
            <br />
            <div class="row">
                <div class="col-md-2">
                    <label class="control-label">
                        From:
                    </label>
                </div>
                <div class="col-md-4">
                    @Html.DevExpress().DateEdit(
                        settings =>
                        {
                            settings.Name = "date";
                            settings.Date = new DateTime();
                            settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                            settings.ControlStyle.CssClass = "textBoxStyle";
                            settings.Properties.EditFormat = EditFormat.Custom;
                            settings.Properties.EditFormatString = "yyyy-MM-dd";
                            settings.Date = Convert.ToDateTime(ViewBag.DateFrom) == null ? "" : Convert.ToDateTime(ViewBag.DateFrom);
                        }
                    ).GetHtml()
                </div>
                <div class="col-md-2">
                    <label class="control-label">
                        To:
                    </label>
                </div>
                <div class="col-md-4">
                    @Html.DevExpress().DateEdit(
                        settings =>
                        {
                            settings.Name = "date2";
                            //  settings.Properties.DisplayFormatString = "D";
                            settings.Date = new DateTime();
                            settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                            settings.ControlStyle.CssClass = "textBoxStyle";
                            settings.Properties.EditFormat = EditFormat.Custom;
                            settings.Properties.EditFormatString = "yyyy-MM-dd";
                            settings.Date = Convert.ToDateTime(ViewBag.DateTo) == null ? "" : Convert.ToDateTime(ViewBag.DateTo);
                        }
                    ).GetHtml()
                </div>
            </div>
            <hr />
            @{Html.RenderAction("GetGridView", "Base", new { frm = Model, GridName = FEA_ITS_Site.Models.Helper.PartialParameter.QueryDynamicInventory });}
        </form>

    </div>
}

